body {
    background-color: lightpink;
}

.new-item-form {
    border: 3px solid red;
}

.form-row {
    border: 3px solid green;
}

#item {
    background-color: orange;
    width: 300px;
}

.new-item-form,
.form-row {
    width: 100%;
}

.list li:has(input:checked) label {
    color: hsl(200, 20%, 40%);
  }