:root {
    // Primary
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

    // Light Theme
    --light-white: hsl(0, 0%, 98%);
    --light-light-blue: hsl(236, 33%, 92%);
    --light-light-gray-blue: hsl(233, 11%, 84%);
    --light-gray-blue: hsl(236, 9%, 61%);
    --light-dark-gray-blue: hsl(235, 19%, 35%);

    // Dark Theme
    --dark-very-dark-blue: hsl(235, 21%, 11%);
    --dark-dark-desaturate-blue: hsl(235, 24%, 19%);
    --dark-light-grayish-blue: hsl(234, 39%, 85%);
    --dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-dark-grayish-blue: hsl(234, 11%, 52%);
    --dark-very-dark-grayish-blue-1: #4d5066;
    --dark-very-dark-grayish-blue-2: #393a4c;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--dark-very-dark-blue);
    color: var(--light-white);
}

header {
    background-image: url("../assets/bg-mobile-dark.jpg");
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    position: relative;
    width: 100%;
}

form {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 0 24px;

    .title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;

        .modeSwitch {
            width: 16px;
            height: 16px;
        }
    }

    .form-row {
        position: relative;

        input {
            height: 48px;
            width: 100%;
            background-color: var(--dark-dark-desaturate-blue);
            border-radius: 5px;
            border: none;
            padding-left: 45px;
        }

        input:focus {
            outline: none;
        }

        .circle-check {
            position: absolute;
            left: 0;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 1px solid var(--dark-very-dark-grayish-blue-1);
            margin: 14px 0 0 14px;
        }
    }
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 10px;
}

input, #todoItem{
    font-size: 0.6rem;
    color: var(--light-white);
}

ul {
    position: absolute;
    width: 100%;
    top: 170px;
    padding: 0 24px;
    list-style-type: none;

    li:first-child {
        border-radius: 5px 5px 0 0;

    }

    li:last-child {
        border-radius: 0 0 5px 5px;
    }

    li {
        position: relative;
        height: 48px;
        background-color: var(--dark-dark-desaturate-blue);
        border-bottom: 1px solid var(--dark-very-dark-grayish-blue-1);

        input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: 1px solid var(--dark-very-dark-grayish-blue-1);
            height: 20px;
            width: 20px;
            border-radius: 100%;
            margin: 14px 0 0 14px;
        }     
        
        input[type="checkbox"]:checked {
            border: 3px solid red;
        }

        #todoItem {
            position: absolute;
            padding: 18.75px 0 0 11px;
            max-width: 70%;
        }
        
        img {
            position: absolute;
            right: 14px;
            top: 14px;
            cursor: pointer;
        }
    }

}
